@import "../../styles/weui/base/fn";
@import "../../styles/index.less";

.list {
    position: relative;
    background-color: transparent; //@weuiCellBg;
    font-size: 15*2px;//@weuiCellFontSize; //cell中间有效高度23px，跟客户端默认图标尺寸一致
    overflow: hidden; //因为每个cell的border使用before元素left搞的，ie下伪元素的containing block估计跟标准不同，在cell上用oh不生效
    margin-top: 22px;
}
.list-line {
  border-top: 1px solid @weuiCellBorderColor;
  border-bottom: 1px solid @weuiCellBorderColor;
}
.list-title {
    margin-top: 22px; // 15px - 行高
    margin-bottom: 10px; // 8px - 行高
    padding-left: 30/75rem;//@weuiCellGapH;
    padding-right: 30/75rem;//@weuiCellGapH;
    color: @globalTextColor;
    font-size: 14*2px;//@weuiCellTipsFontSize;
    & + .list {
        margin-top: 0;
    }
}

.list-item-wrap {
  display: block;
  // 子元素分隔线, 注意如果<list-item>外部嵌套<list-label>等组件时需要包含 list-item-wrap 类，否则分隔线不显示
  &:not(:last-child) {
    .item-line {
      border-bottom: 1px solid @border-color;//@weuiCellBorderColor;
    }
  }
}

// 列表子元素
.list-item {
    display: flex;
    align-items: center;
    color: @content-color;
    .left,
    .right {
        flex: none; // 内容确定宽度, 自动水平居左/居右对齐
        max-width: 50%;
    }
    .body {
        flex: auto; // 自动伸缩
    }
    .arrow {
        &:after {
            content: " ";
            top: -1px;
            margin-left: 0.3em;
            .setArrow_Wap(right, 8*2px, #C8C8CD, 2*2px);
        }
    }
    .title, .subtitle {
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 100/75rem;//@weuiCellLineHeight;
        font-size: 16*2px; //@weuiCellFontSize;
    }
    .title {
        color: @title-color;
    }
    .subtitle {
        color: @subtitle-color;
    }
}
